.header-wrap,.logo-wrap,.detail-wrap,.main-wrap,.footer-wrap {
  width: 1200px;
  margin: 0 auto;
}
html,body {
  overflow-x: hidden;
}
body {
  overflow-y: hidden;
  &:hover {
    cursor: pointer;
  }
}
#header {
  width: 100%;
  height: 28px;
  background-color: #f4f4f4;
  border: 1px solid #e5e5e5;
  font-size: 12px;
}
.header_l {
  width: 340px;
  height: 28px;
  line-height: 28px;
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  a {
    color: #666666;
    &:hover {
      color: #ff4040;
    }
    &:nth-child(3) {
      color: #333333;
    }
    &:nth-child(3):hover {
      color: #ff4040;
    }
  }
  .iconfont {
    color: #ff4040;
    padding-right: 4px;
  }
}
.header_r {
  float: right;
  width: 380px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
  .iconfont {
    padding-right: 4px;
    color: #adb0af;
  }
  .msgs{
    li{
      float: left;
      line-height: 28px;
      margin: 0 3px;
    }
    height: 28px;
    span{
      color: #333333;
      font-weight: bold;
     
    }
    .btn_close{
      display: inline-block;
      margin: 6px 5px 0 5px;
      height: 18px;
      padding: 0 8px;
      border-radius: 100px;
      line-height: 18px;
      color: #fff;
      background-color: #ff4040;
    }
  }
  li {
    &:nth-child(3):hover {
      color: #ff4040;
      .iconfont {
        color: #ff4040;
      }
    }
    &:nth-child(4):hover {
      color: #ff4040;
      .iconfont {
        color: #ff4040;
      }
    }
  }
}
.login {
  color: #666666;
  a {
    color: #ff4040;
  }
}
.reg {
  a {
    color: #aaaaaa;
    &:hover {
      color: #ff4040;
    }
  }
}
#logo {
  border-bottom: 2px solid #ff4040;
}
.logo-wrap {
  height: 180px;
  position: relative;
  .nav {
    position: absolute;
    left: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.logo_l {
  width: 320px;
  height: 140px;
  display: flex;
  align-items: center;
  float: left;
  .logo_img1 {
    width: 130px;
    height: 130px;
    float: left;
  }
  .logo_img2 {
    width: 160px;
    height: 90px;
    float: left;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.logo_r {
  float: right;
  width: 650px;
  height: 140px;
  display: flex;
  align-items: center;
  position: relative;
}
#search {
  width: 510px;
  height: 40px;
  background-color: #ff0400;
  border-radius: 2em;
}
#search_txt {
  border: 0;
  width: 408px;
  height: 36px;
  float: left;
  border-radius: 2em 0 0 2em;
  border: 2px solid #ff0400;
  padding-left: 30px;
}
.search_btn {
  width: 52px;
  height: 40px;
  background-color: #ff0400;
  float: left;
  border: 0;
  .iconfont {
    font-size: 24px;
    color: #ffffff;
  }
}
.shoppingCar {
  width: 120px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #e2e2e2;
  float: left;
  border-radius: 20px;
  text-align: center;
  margin-left: 15px;
  &:hover {
    background-color: #fcfcfc;
  }
  a{
    color: #333333;
  }
  .iconfont {
    padding-right: 7px;
  }
}
.key {
  float: left;
  position: absolute;
  left: 28px;
  bottom: 25px;
  li {
    float: left;
    font-size: 12px;
    margin: 0 5px;
    a {
      color: #aaaaaa;
    }
    &:hover {
      a {
        color: #333333;
      }
    }
  }
}
.nav {
  li {
    float: left;
    margin: 0 15px;
    line-height: 38px;
    &:nth-child(1) {
      width: 140px;
      height: 38px;
      line-height: 38px;
      background-color: #ff4040;
      text-align: center;
      color: #ffffff;
    }
    &:hover {
      color: #ff4040;
    }
    &:nth-child(1):hover {
      color: #ffffff;
    }
  }
}
.detail-wrap {
  height: 646px;
}
.detail_nav {
  width: 385px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    a {
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
      color: #555555;
      margin-top: -5px;
    }
    .iconfont {
      display: inline-block;
      font-size: 12px;
      line-height: 12px;
      margin-left: 12px;
    }
  }
}
.detail_box {
  width: 1200px;
  height: 597px;
  margin-top: 10px;
}
.detail_l {
  width: 400px;
  height: 527px;
  .product_rel {
    width: 400px;
    height: 42px;
    line-height: 42px;
    background-color: #fcfcfc;
    font-size: 12px;
    color: #999999;
  }
}
.detail_img {
  width: 400px;
  height: 485px;
}
#proImg_border {
  width: 400px;
  height: 400px;
  border: 1px solid #dddddd;
}
#box {
  position: relative;
  width: 360px;
  height: 360px;
  background-image: url(../imgs/imgs01.png);
  background-size: 360px 360px;
  margin: 19px auto;
  z-index: 999;
}
/* #proImg_border .audio_box{
    display: block;
    width: 64px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    background-color: (255,154,111);
    position: absolute;
    left: 25px;
    bottom: 30px;
    z-index: 888;
    font-size: 12px;
    color: #fff;
} */
/* #proImg_border .audio_box .iconfont{
font-size: 22px;
} */
/* #proImg_border .audio_box em{
    display: inline-block;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    z-index: 999;
} */
#img-box {
  width: 360px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  li {
    width: 50px;
    height: 50px;
    &:hover {
      border: 2px solid #999999;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
/* #proImg_border .audio_box:hover .iconfont{
width: 66px;
} */
.detail_imgbox {
  width: 400px;
  height: 60px;
  position: relative;
  padding-top: 27px;
  .btn_left {
    position: absolute;
    left: 4px;
    top: 52px;
  }
  .btn_right {
    position: absolute;
    right: 4px;
    top: 52px;
  }
}
.product_rel {
  span {
    width: 109px;
    border-right: 1px solid #cccccc;
    padding-right: 6px;
  }
  a {
    display: inline-block;
    padding-left: 16px;
    color: #999999;
    position: relative;
    .iconfont {
      font-size: 16px;
      color: #ff0400;
      margin-right: 6px;
      transition: all .2s;
    }
    .icon-guanzhu {
      opacity: 0;
      position: absolute;
      left: 16px;
      top: 16px;
    }
    &:hover {
      color: #ff0400;
      .icon-guanzhu {
        opacity: 1;
        position: absolute;
        left: 16px;
        top: 0px;
      }
    }
  }
}
.detail_main {
  width: 570px;
  height: 592px;
  margin-left: 25px;
  h3 {
    width: 570px;
    height: 32px;
    line-height: 42px;
    font-weight: bold;
    b {
      display: inline-block;
      width: 28px;
      height: 14px;
      line-height: 14px;
      border: 1px solid #fba8b2;
      color: #ff4040;
      font-size: 12px;
      text-align: center;
      background-color: #fef0ef;
      margin-right: 3px;
    }
  }
  .price {
    width: 570px;
    height: 48px;
    line-height: 48px;
    background-color: #fde5e0;
    border: 1px solid #ffcbc4;
    span {
      display: inline-block;
      width: 561px;
      height: 28px;
      line-height: 28px;
      font-size: 12px;
      color: #666666;
      margin-left: 12px;
    }
    em {
      font-size: 30px;
      line-height: 30px;
      color: #e60012;
      font-weight: bold;
      margin-left: 24px;
      margin-top: 5px;
    }
  }
  .comment {
    width: 570px;
    height: 31px;
    background-color: #fff4f2;
    li {
      width: 184px;
      height: 32px;
      line-height: 32px;
      margin-left: 70px;
      font-size: 12px;
      a {
        color: #666666;
        &:nth-child(2) {
          color: #aaaaaa;
        }
      }
    }
  }
  dl {
    width: 570px;
    height: 56px;
    dt {
      width: 70px;
      height: 26px;
      float: left;
      font-size: 12px;
      color: #666666;
      text-align: center;
    }
    dd {
      width: 486px;
      height: 56px;
      float: left;
      .list {
        width: 486px;
        height: 18px;
        line-height: 18px;
        margin-bottom: 12px;
      }
    }
  }
  .local {
    width: 570px;
    height: 83px;
    border-top: 1px dashed #d9d9d9;
  }
  #shop {
    width: 570px;
    height: 53px;
    padding-top: 5px;
  }
  .ensure {
    width: 570px;
    height: 41px;
    border-top: 1px dashed #d9d9d9;
    margin-top: 22px;
    color: #666666;
    dt {
      width: 70px;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
    dd {
      width: 495px;
      height: 40px;
      line-height: 40px;
      a {
        font-size: 12px;
        color: #666666;
        margin-right: 20px;
        .iconfont {
          color: #69a519;
        }
      }
    }
  }
}
.detail_super {
  width: 570px;
  height: 32px;
  background: url(../imgs/seckill_bg.jpg);
  margin-top: 12px;
  border: 1px solid #ffcbc4;
  img {
    width: 75px;
    height: 16px;
    padding: 8px 0 0 12px;
    float: left;
  }
}
#times {
  width: 170px;
  height: 32px;
  line-height: 32px;
  float: right;
  margin-right: 10px;
  span {
    display: inline-block;
    width: 19px;
    height: 19px;
    line-height: 19px;
    background: #ffffff;
    font-size: 12px;
    color: #c8001d;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
  }
  em {
    font-size: 12px;
    color: #fff;
    margin: 0 2px;
  }
}
.comment {
  li {
    a {
      .iconfont {
        font-size: 16px;
        color: #ff875a;
      }
      span {
        color: #ff875a;
      }
    }
  }
}
.sales {
  width: 570px;
  height: 56px;
  padding-top: 15px;
  position: relative;
  .right_now {
    font-size: 12px;
    color: #0066cc;
    margin-left: 20px;
  }
  .more {
    font-size: 12px;
    color: #999999;
    b {
      color: #ff8794;
    }
  }
}
.list {
  .fullzhe {
    display: inline-block;
    width: 34px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    background-color: #ff875a;
    color: #ffffff;
  }
  em {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #333333;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
  }
  .more {
    b {
      font-weight: bold;
    }
    &:hover {
      color: #ff875a;
    }
  }
  .list_show{
    border: 1px solid #ddd;
    width: 508px;
    position: absolute;
    background-color: #fff;
    z-index: 99;
    left: 60px;
    top: 7px;
    font-size: 12px;
    display: none;
    padding-bottom: 4px;
    color: #333333;
    .titles{
      padding: 0 9px;
      height: 30px;
      line-height: 30px;
      color: #666;
      background-color: #fbfbfb;
      border-bottom: 1px solid #eaeaea;
      .msg{
        line-height: 30px;
        color: #666;
      }
      .closes{
        float: right;
        font-style: normal;
        color: #999;
        cursor: pointer;
        line-height: 30px;
      }
    }
    .reduces{
      padding: 6px 0 0 44px;
      li{
        height: 16px;
        line-height: 16px;
        margin-bottom: 5px;
        color: #666;
        margin-top: 8px;
        span{
          max-width: 360px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
          line-height: 1;
        }
        a{
          display: inline-block;
          padding-left: 8px;
          position: relative;
          top: -2px;
          color: #06c;
        }
      }
    }
  }
}
.kinds {
  width: 570px;
  height: 124px;
  border-top: 1px dashed #d9d9d9;
  .choose_attr {
    width: 572px;
    height: 102px;
    float: left;
    display: flex;
    margin-top: 15px;
  }
}
.choose_attr {
  .dt {
    width: 82px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #666666;
    text-align: center;
    padding-right: 8px;
  }
  .dd {
    width: 498px;
    height: 92px;
    display: flex;
    flex-wrap: wrap;
    a {
      width: 134px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      border: 1px solid #dddddd;
      font-size: 12px;
      color: #333333;
      margin: 2px 4px;
      display: flex;
      align-items: center;
      position: relative;
      img {
        width: 30px;
        height: 30px;
      }
      i {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url(../imgs/more_bg.png) no-repeat right bottom;
        background-position: -237px 0;
        position: absolute;
        bottom: 0;
        right: 0;
        display: none;
      }
     
      &:nth-child(5) {
        width: 144px;
        height: 40px;
      }
      &:nth-child(6) {
        width: 163px;
        height: 40px;
      }
      &:hover {
        border: 1px solid #e60021;
      }
    }
    .high_bg{
      border: 1px solid #e60021;
      i {
        display: block;
      }
    }
    span {
      display: inline-block;
      height: 40px;
      margin-left: 10px;
    }
  }
}
.local {
  dl {
    width: 570px;
    height: 68px;
    margin-top: 15px;
  }
  dt {
    width: 70px;
    height: 26px;
    text-align: center;
  }
  dd {
    width: 498px;
    height: 68px;
  }
  .adds {
    width: 498px;
    height: 32px;
    font-size: 12px;
    margin: 0;
    span {
      margin-right: 24px;
    }
    a {
      margin-left: 10px;
      color: #0066cc;
    }
  }
}
.area_info {
  width: 498px;
  height: 26px;
  line-height: 26px;
  .input_btn {
    width: 121px;
    height: 24px;
    line-height: 26px;
    font-size: 12px;
    border: 1px solid #cccccc;
    text-align: center;
    color: #333333;
  }
  em {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #666666;
    margin-left: 10px;
    strong {
      font-weight: bold;
      color: #333333;
    }
    b {
      font-weight: bold;
    }
  }
}
#shop {
  .shoppingCars {
    width: 500px;
    height: 48px;
    margin-left: 69px;
    display: flex;
  }
}
.shoppingCars {
  .nums {
    width: 70px;
    height: 48px;
    display: flex;
    .txt {
      width: 45px;
      height: 45px;
      line-height: 45px;
      border: 1px solid #cccccc;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      border-right: 0;
    }
    .computing_act {
      width: 24px;
      height: 48px;
    }
  }
}
.computing_act {
  .add {
    width: 24px;
    height: 24px;
    border: 0;
    border: 1px solid #ccc;
  }
  .reduce {
    width: 24px;
    height: 24px;
    border: 0;
    border: 1px solid #ccc;
    border-top: 0;
  }
}
#btn_area {
  width: 202px;
  height: 48px;
  margin-left: 10px;
  a {
    display: inline-block;
    width: 138px;
    height: 48px;
    line-height: 48px;
    background-color: #ff5c4d;
    color: #fff;
    text-align: center;
    &:hover {
      background-color: #ff4141;
    }
    .iconfont {
      font-size: 20px;
      margin-right: 4px;
    }
  }
  span {
    display: inline-block;
    width: 48px;
    height: 26px;
    font-size: 12px;
    color: #0066cc;
    text-align: center;
    line-height: 46px;
    margin-left: 8px;
    vertical-align: text-bottom;
    &:hover {
      color: #ff4141;
    }
  }
}

.detail_r {
  width: 178px;
  height: 595px;
  margin-left: 25px;
  border: 1px solid#eaeaea;
  h4 {
    width: 150px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #eaeaea;
    color: #666666;
    font-size: 12px;
    padding-left: 28px;
    a {
      color: #aaaaaa;
      margin-left: 28px;
      .iconfont {
        font-size: 14px;
        margin-right: 3px;
      }
    }
  }
 
  .r_list{
    width: 178px;
    min-height: 528px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    li {
      width: 130px;
      height: 170px;
      font-size: 12px;
      .list_img {
        display: block;
        width: 130px;
        height: 130px;
        img {
          width: 120px;
          height: 120px;
          margin: 0px auto;
          padding-top: 5px;
        }
      }
      span {
        display: block;
        width: 130px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        a {
          display: inline-block;
          width: 120px;
          color: #333333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            color: #cc0000;
          }
        }
      }
      em {
        display: block;
        color: #e60021;
        text-align: center;
      }
    }
  }
}
.main-wrap {
  margin-top: 20px;
  display: flex;
  .main_l {
    width: 210px;
    height: 2085px;
    float: left;
    border: 1px solid #e5e5e5;
  }
}
/* 进入店铺 */
.main_l {
  .shop_name {
    width: 210px;
    height: 124px;
  }
  h5 {
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 12px;
    color: #333333;
    background-color: #f7f7f7;
    b {
      display: inline-block;
      width: 27px;
      height: 14px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      border: 1px solid #f3a3a7;
      color: #ff6666;
      background-color: #ffefef;
      margin-left: 5px;
    }
  }
}
.shop_name {
  .names {
    height: 84px;
    p {
      margin: 0;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 12px;
      color: #666666;
    }
    a {
      display: block;
      width: 82px;
      height: 26px;
      line-height: 26px;
      background-color: #ff5c4d;
      border: 1px solid #fc3a29;
      color: #fff;
      text-align: center;
      font-size: 12px;
      margin: 7px auto;
      border-radius: 2px;
      &:hover {
        background-color: #fc3a29;
      }
    }
  }
}
.mod_box {
  width: 210px;
  h6 {
    width: 190px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
  }
  .r_list {
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    li {
      width: 190px;
      height: 240px;
      font-size: 12px;
      border-bottom: 1px solid #e5e5e5;
      &:nth-child(6) {
        border: 0;
      }
      .list_img {
        display: block;
        width: 115px;
        height: 115px;
        margin: 10px auto;
        img {
          width: 115px;
          height: 115px;
          margin: 0px auto;
          padding-top: 5px;
        }
      }
      span {
        display: block;
        width: 190px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        a {
          display: inline-block;
          width: 190px;
          color: #333333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            color: #cc0000;
          }
        }
      }
      p {
        margin: 0;
        width: 190px;
        height: 44px;
      }
    }
  }
}
.r_list {
  li {
    p {
      em {
        color: #e60021;
      }
    }
  }
}
.check {
  display: block;
  width: 90px;
  height: 29px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  border: 1px solid #cccccc;
  margin: 0 auto;
  font-size: 12px;
  background: linear-gradient(#fff, #eaeaea);
}
.main_box {
  width: 980px;
  min-height: 1000px;
  margin-left: 10px;
  .ranking {
    width: 980px;
    height: 323px;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #e5e5e5;
  }
  .des {
    width: 980px;
    margin-top: 10px;
  }
}
/* 排行榜 */
.ranking {
  dt {
    width: 958px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #333333;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 12px;
    i {
      display: inline-block;
      width: 3px;
      height: 14px;
      background-color: #fe3c3c;
      margin-right: 7px;
      vertical-align: middle;
      margin-top: -4px;
    }
  }
  dd {
    width: 191px;
    height: 276px;
    float: left;
    position: relative;
    span {
      display: block;
      width: 191px;
      height: 265px;
      margin: 0 auto;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid #ffc8c8;
        box-shadow: inset 0px 0px 2px 2px #ffe7e7;
      }
      .tit {
        display: block;
        width: 170px;
        height: 36px;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
        margin: 0 auto;
        &:hover {
          color: #e60012;
        }
      }
      p {
        font-size: 12px;
        color: #ed0012;
        margin: 0;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 12px;
      }
    }
    .iconss {
      width: 20px;
      height: 20px;
      background: url(../imgs/more_bg.png) no-repeat center;
      position: absolute;
      left: 10px;
      top: 3px;
      font-size: 12px;
    }
    .icon_one {
      background-position: 0 -40px;
    }
    .icon_two {
      background-position: 0 -61px;
    }
    .icon_three {
      background-position: 0 -83px;
    }
    .icon_four {
      width: 15px;
      height: 15px;
      line-height: 15px;
      background-color: #999999;
      color: #fff;
      text-align: center;
      position: absolute;
      left: 10px;
      top: 6px;
      font-size: 12px;
    }
    .icon_five {
      width: 15px;
      height: 15px;
      line-height: 15px;
      background-color: #999999;
      color: #fff;
      text-align: center;
      position: absolute;
      left: 10px;
      top: 6px;
      font-size: 12px;
    }
  }
}
.rank_img {
  width: 115px;
  height: 115px;
  img {
    width: 115px;
    height: 115px;
    margin: 0 auto;
    padding: 10px 0;
  }
}
.des {
  .des_tab {
    width: 980px;
    height: 42px;
    display: flex;
    border: 1px solid #eeeeee;
  }
}
.des_tab {
  li {
    width: 111px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-right: 1px solid #e1e1e1;
    &:nth-child(1) {
      background-color: #e60012;
      a {
        color: #fff;
      }
    }
    a {
      color: #333333;
      font-size: 12px;
    }
    em {
      color: #ff3c3c;
      margin-left: 9px;
    }
  }
}
.pages {
  .page_par {
    width: 980px;
    height: 112px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    margin-top: 12px;
  }
}
.page_par {
  dt {
    width: 958px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 12px;
    color: #333333;
    margin-top: 11px;
    a {
      float: right;
      color: #0066cc;
      font-weight: normal;
      margin-right: 16px;
    }
  }
  dd {
    width: 310px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    float: left;
    margin-left: 11px;
  }
}
.page_img {
  width: 980px;
  margin-top: 12px;
  .img-wrap {
    width: 750px;
    margin: 0 auto;
  }
}
.img-wrap {
  img {
    width: 100%;
    height: 100%;
  }
}
.page_txt {
  width: 980px;
  height: 442px;
  background-color: #f7f7f7;
  font-size: 12px;
  color: #555555;
  box-sizing: border-box;
  padding: 13px;
  margin-top: 12px;
  p {
    line-height: 20px;
    margin-bottom: 12px;
    &:nth-child(2n-1) {
      font-weight: bold;
    }
    b {
      font-weight: bold;
    }
  }
}
.comments-box {
  min-height: 1000px;
  position: relative;
  .comment_type {
    width: 980px;
    height: 25px;
    padding-top: 25px;
    color: #656565;
    font-size: 14px;
  }
  .comment_page {
    width: 166px;
    height: 42px;
    position: absolute;
    bottom: -100px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    text-align: center;
  }
}
.comments {
  width: 980px;
  height: 156px;
  margin-top: 34px;
  display: flex;
  background-color: #fbfbfb;
  border: 1px solid #e3e3e3;
}
.comments_l {
  width: 152px;
  height: 123px;
  border-right: 1px solid #ececec;
  position: relative;
  margin-top: 16px;
  .comments_con {
    width: 106px;
    height: 123px;
    margin: 0 auto;
    font-size: 12px;
    color: #666666;
    text-align: center;
    margin-left: 12px;
    float: left;
  }
  h4 {
    width: 15px;
    height: 66px;
    float: right;
    margin-right: 8px;
    font-size: 12px;
    color: #cccccc;
    margin-top: 32px;
  }
}
.comments_con {
  .txt {
    color: #fe5a76;
    width: 106px;
    height: 36px;
    line-height: 50px;
    margin: 0;
  }
  .percent {
    color: #ff3c3c;
    width: 106px;
    height: 54px;
    line-height: 54px;
    span {
      font-size: 36px;
    }
  }
  .nums {
    width: 106px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    text-align: center;
  }
}
/* .comments_l .comment_chart{
        float: left;
    } */
.triangle_border_left {
  width: 0;
  height: 0;
  border-width: 6px 6px 6px 0;
  border-style: solid;
  border-color: transparent #ececec transparent transparent;
  position: absolute;
  right: 0;
  bottom: 50px;
}
.comments_r {
  width: 814px;
  height: 118px;
  .tag_box {
    width: 774px;
    height: 78px;
    margin: 20px 0 0 15px;
  }
}
.tag_box {
  span {
    display: inline-block;
    width: 97px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #dadada;
    border-radius: 20px;
    font-size: 12px;
    color: #666666;
    text-align: center;
    margin: 5px 4px;
  }
}


.comment_type {
  li {
    width: 109px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-right: 15px;
    text-align: center;
    &:nth-child(1) {
      color: #ff3b3c;
      border-bottom: 2px solid #ff3b3c;
    }
    .iconfont {
      padding-right: 6px;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.currentComment {
  width: 132px;
  height: 18px;
  float: right;
  margin-right: 10px;
}
.comment_con {
  width: 980px;
  min-height: 500px;
  margin-top: 18px;
  font-size: 12px;
  dl {
    width: 980px;
    dt {
      width: 90px;
      height: 120px;
      float: left;
      p {
        font-size: 12px;
        color: #333333;
        text-align: center;
        margin: 0;
        padding-top: 10px;
      }
    }
    dd {
      float: left;
      width: 890px;
      padding-bottom: 30px;
      border-bottom: 1px solid #f3f3f3;
      h6 {
        width: 849px;
        height: 24px;
        line-height: 24px;
        background-color: #fff7f7;
        font-size: 12px;
        color: #666666;
        margin-left: 6px;
        i {
          &:nth-child(1) {
            margin-left: 5px;
          }
        }
        .iconfont {
          color: #ffe944;
        }
      }
      .contain_txt {
        width: 849px;
        min-height: 44px;
        display: flex;
        margin-top: 10px;
        span {
          width: 809px;
          height: 44px;
          display: inline-block;
          min-height: 40px;
          line-height: 22px;
          color: #666666;
        }
      }
    }
  }
  dt {
    .comment_userimg {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 auto;
    }
  }
}
.comment_userimg {
  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}
.tt {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 22px;
  margin-right: 12px;
  text-align: center;
}
.comment_show {
  width: 849px;
  height: 52px;
  display: flex;
  ul {
    width: 800px;
    height: 54px;
    display: flex;
    li {
      width: 50px;
      height: 50px;
      border: 1px solid #d9d9d9;
      margin-right: 4px;
      img {
        width: 46px;
        height: 46px;
        margin: 2px auto;
      }
    }
  }
}
.return_btn {
  width: 849px;
  height: 30px;
  line-height: 30px;
  margin-left: 50px;
  padding-top: 10px;
  color: #999999;
  em {
    display: inline-block;
    margin-left: 12px;
  }
}
.comment_page {
  li {
    width: 22px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ccc;
    a {
      color: #333333;
    }
  }
  .page_one {
    color: #c00;
    border: 1px solid #c00;
    background-color: #ffe3e3;
  }
  .more_page {
    width: 12px;
    border: 0;
  }
  .next_page {
    width: 65px;
    height: 22px;
  }
}
.next_page {
  .iconfont {
    font-size: 14px;
  }
}
/* 底部 */
.footer-wrap {
  min-height: 297px;
  margin-top: 100px;
  div {
    clear: both;
  }
}
.footer_list {
  display: flex;
  justify-content: space-around;
  height: 124px;
  border-bottom: 1px solid #ebebeb;
  li {
    width: 213px;
    height: 124px;
  }
  dt {
    width: 66px;
    height: 66px;
    border-radius: 100%;
    text-align: center;
    line-height: 66px;
    margin-right: 15px;
    .iconfont {
      font-size: 36px;
      color: #c81623;
    }
  }
  dl {
    width: 213px;
    height: 124px;
    display: flex;
    align-items: center;
    h6 {
      font-size: 16px;
      line-height: 16px;
      font-weight: bold;
      margin-bottom: 6px;
    }
    span {
      font-size: 12px;
      line-height: 12px;
      color: #999999;
    }
  }
}
.footer_links {
  min-height: 171px;
  display: flex;
}
.links_l {
  display: flex;
  justify-content: space-around;
  width: 690px;
  ul {
    margin-top: 20px;
    li {
      font-size: 12px;
      line-height: 24px;
      color: #666666;
      a {
        color: #666666;
      }
      &:hover {
        a {
          color: #c81623;
        }
      }
      &:nth-child(1) {
        font-weight: bold;
      }
      &:nth-child(1):hover {
        color: #666666;
      }
    }
    &:nth-child(4) {
      background-color: #fff;
      font-weight: normal;
    }
  }
}
.links_r {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
  dt {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 8px;
  }
}
#bottoms {
  width: 100%;
  height: 151px;
}
.bottoms-wrap {
  height: 151px;
  ul {
    margin-left: 10px;
    padding-top: 38px;
  }
  li {
    float: left;
    font-size: 12px;
    margin: 0 6px;
    background: url(../imgs/bottomsborder_03.png) no-repeat right;
    padding-right: 10px;
    a {
      color: #333333;
    }
    &:hover {
      a {
        color: #c81623;
      }
    }
  }
  p {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #666666;
    padding-top: 15px;
  }
}
.bottoms_icons {
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}

